{{ define "main" }}

<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap" rel="stylesheet">
</head>
<article class="post">
  <header class="post__header">
    <div class="post__header__hero">
      {{ with .Params.hero }}
      {{ $svgContent := readFile (printf "%s" .) }}
      {{ printf "%s" $svgContent | safeHTML }}
      {{ end }}
    </div>
    <h1 class="post__title">{{ .Title }}</h1>
    <div class="post__time">
      {{- if isset .Params "date" -}}
      {{ if eq .Lastmod .Date }}
      <time>{{ .Date | time.Format (i18n "post.created") }}</time>
      {{ else }}
      <time>{{ .Lastmod | time.Format (i18n "post.updated") }}</time>
      {{ end }}
      {{- end -}}
    </div>
  </header>
  <div class="post__content">
    {{- .Content -}}
  </div>
</article>
<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.13.1/dist/cdn.min.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.1/dist/cdn.min.js"></script>
<script>
  document.addEventListener('alpine:init', () => {
    Alpine.store('timeline', {
      init() {
        this.series = [];
      }
    });
  });
</script>
{{ end }}