.ptg {
  float: right;
}

canvas {
  max-width: 100%;
  max-height: 514px;
}

figcaption a {
  text-decoration: none;
}

video {
  max-width: 100%;
  height: auto;
}

picture img {
  max-width: 100%;
}

.quote {
  font-family: var(--font-cursive);
  width: fit-content;
}

.post__header__hero {
  background: linear-gradient(to top, #ffcbe5 0%, #b8d2f7 100%);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  ;
  border-radius: .3125rem;
}

.post__header__hero svg {
  max-width: 65%;
}

html[data-theme="dark"] .post__header__hero {
  background-image: linear-gradient(to top, #a7a6cb 0%, #8989ba 52%, #8989ba 100%);
}

html[data-theme="dark"] .post__header__hero>svg path {
  fill: darkslateblue;
}

.google-demo {
  background: var(--white);
  text-align: center;
}

.zoomer {
  position: relative;
  height: 31.25rem;
  overflow: hidden;
  background-color: #555;
}

.figcaption--small {
  font-family: var(--font-cursive);
  font-size: .75rem;
}

.zoom-controls {
  position: absolute;
  bottom: 0;
  padding: 0 0 .625rem .9375rem;
}

.zoom-btn {
  background: none;
  border: 0;
  padding: 0 .125rem;
  cursor: pointer;
}

.zoom-btn svg {
  stroke: var(--white-87);
}

.zoom-btn:hover svg {
  stroke: var(--white);
}

.zoom-btn:active {
  transform: scale(0.95);
}

.timeline {
  width: 100%;
  margin: 0;
  overflow: auto;
}