.highlight {
  overflow-x: hidden;
}

.chroma {
  overflow-x: auto;
}

h2 {
  padding-top: 1rem;
}

.hl-code {
  color: #f8f8f2;
  background-color: #272822;
  padding: 0 .1875rem;
}

/* Navigation links styling */
.post__content a {
  color: #f8f8f2;
  text-decoration: none;
  border-bottom: 1px solid #f8f8f2;
  transition: all 0.2s ease;
}

.post__content li a {
  border-bottom-style: dashed;
}

.post__content a:hover {
  color: var(--accent-color);
  border-bottom-color: var(--accent-color);
}

.post__content ul {
  padding: 0 0 0 1rem;
  margin: 0;
}

.post__content li {
  padding: .3125rem 0;
  margin: 0;
}

.toc {
  padding: .625rem;
  border: 1px solid #ddd;
  border-radius: .3125rem;
}

.toc>p {
  margin: 5px 0;
}

.toc ul,
.toc li>a {
  color: #b5b5b5;
}