<footer id="footer">
  <div class="footer__copyright">
    <svg width="55" height="41" viewBox="0 0 55 41" fill="none" xmlns="http://www.w3.org/2000/svg">
      <title>Starting from the bottom</title>
      <circle cx="39.5" cy="4.5" r="1.5" fill="#F36161"/>
      <circle cx="44.5" cy="4.5" r="1.5" fill="#FFCC47"/>
      <circle cx="49.5" cy="4.5" r="1.5" fill="#42FA6A"/>
      <path d="M54 8V40H1V8" class="st"/>
      <path d="M1 9V6C1 3.23858 3.23858 1 6 1L49 1C51.7614 1 54 3.23858 54 6V9" class="st"/>
      <path d="M1 8H54" class="st"/>
    </svg>
  </div>
</footer>