<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ with .Site.Params.description -}}
  <meta name="description" content="{{ . }}">
  {{ end }}
  {{ printf `<link rel="shortcut icon" href="%s">` ("favicon.ico" | absURL) | safeHTML }}
  {{ with .OutputFormats.Get "rss" -}}
      {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Shadows+Into+Light+Two&family=Spectral:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600;1,700&display=swap" rel="stylesheet">

  {{ $resources := slice -}}

  {{ $resources = $resources | append (resources.Get "css/main.css") -}}

  {{ $css := $resources | resources.Concat "css/style.css" | minify }}
  {{ printf `<link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

  {{ with .Params.css }}
    {{ $css := resources.Get . }}
    {{ $minifiedCSS := slice $css | resources.Concat . | minify }}
    {{ printf `<link rel="stylesheet" href="%s">` $minifiedCSS.RelPermalink | safeHTML }}
  {{ end }}

  <title>{{ .Title }}</title>

  <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/intersect@3.13.1/dist/cdn.min.js"></script>
  <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.1/dist/cdn.min.js"></script>

  <script>
    if (localStorage.getItem('theme')) {
        document.documentElement.dataset.theme = localStorage.getItem('theme');
    }

    document.addEventListener('alpine:init', () => {
        Alpine.store('timeline', {
            init() {
                this.series = [];
            }
        });
    });
</script>
</head>