<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ with .Site.Params.description -}}
    <meta name="description" content="{{ . }}">
    {{ end }}
    {{ printf `
    <link rel="shortcut icon" href="%s">` ("favicon.ico?v=2" | absURL) | safeHTML }}
    {{ with .OutputFormats.Get "rss" -}}
    {{ printf `
    <link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap"
        rel="stylesheet">

    {{ $resources := slice -}}

    {{ $resources = $resources | append (resources.Get "css/main.css") -}}
    {{ $resources = $resources | append (resources.Get "css/syntax.css") -}}

    {{ $css := $resources | resources.Concat "css/style.css" | minify }}
    {{ printf `
    <link rel="stylesheet" href="%s">` $css.RelPermalink | safeHTML }}

    {{ with .Params.css }}
    {{ $css := resources.Get . }}
    {{ $minifiedCSS := slice $css | resources.Concat . | minify }}
    {{ printf `
    <link rel="stylesheet" href="%s">` $minifiedCSS.RelPermalink | safeHTML }}
    {{ end }}

    <title>{{ .Title }}</title>

    <!-- Fathom - beautiful, simple website analytics -->
    <script src="https://cdn.usefathom.com/script.js" data-site="TZVSDJTO" defer></script>
    <!-- / Fathom -->
</head>