{{ $jsResource := resources.Get "js/btm_timeline.js" | resources.ExecuteAsTemplate "btm_timeline.js" . }}
{{ $jsResource2x := resources.Get "js/btm_timeline@2x.js" | resources.ExecuteAsTemplate "btm_timeline@2x.js" . }}

<script>
  let leftArrow = '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>';
  let leftUpArrow = '<svg style="position: relative; right: -2px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-left-up"><polyline points="14 9 9 4 4 9"></polyline><path d="M20 20h-7a4 4 0 0 1-4-4V4"></path></svg>';
  const scale = window.devicePixelRatio > 1.3 ? 2: 1;
  const isDesktop = document.body.clientWidth > 1024;
  const isHighDPI = () => scale === 2 && isDesktop;
  const packedImage = () => {
    return isHighDPI() ? 'packed_image@2x.png': 'packed_image.png';
  }
  const VERSION = 1.1;

  function demo(id, cIndex, height, ldHeight) {
    return {
      id,
      cIndex,
      selectedIndex: 0,
      showOverlay: false, 
      activeOverlay: [],
      t: {timer: null, delay_scale: null},
      played: false,
      loading: false,
      playNext: false,
      height,
      ldHeight,
      play: function(isIntersect) {
        if (isIntersect) {
          this.loading = true;
        }
        this.$refs.demo.style.backgroundColor = 'var(--white-95)';
        this.showOverlay = false;
        this.activeOverlay = [];
        const { series } = this.$store.timeline;
        if (!series.length) {
          return;
        }
        const { children, delay_scale } = series[this.cIndex];
        this.t.delay_scale = delay_scale;
        const child = children?.[this.selectedIndex];
        const overlays = series[this.cIndex].overlays ?? child?.overlays;
        const addText = (index) => {
          setTimeout(() => {
            this.activeOverlay.push(index);
          }, index * 4 * 100);
        }
        const animate = (img_url, timeline, anim, delay_scale) => {
          if (delay_scale) {
            this.t['delay_scale'] = delay_scale;
          }
          setAnimation(img_url, timeline, this.$refs.canvas, () => {
            this.loading = false;
            let child = children?.[this.selectedIndex + 1];
            if (child) {
              const img = new Image();
              img.src = `${child.img_url}?v=${VERSION}`;
            }
            if (anim.next?.[0]) {
              const img = new Image();
              img.src = `${anim.next[0].img_url}?v=${VERSION}`;
            }
            if (!this.playNext) {
              this.$refs.demo.style.minHeight = this.$refs.demo.offsetHeight + 'px';
              return;
            }
            this.playNext = false;
            this.$refs.canvas.style.height = this.$refs.canvas.offsetHeight + 'px';
            this.$refs.canvas.style.objectFit = 'contain';
            this.$refs.demo.style.backgroundColor = '#1a1a1a';
          },
          (c, frame, end) => {
            this.showOverlay = true;
            const overlays = anim.overlays ?? child?.overlays;
            for (let j = 0; j < overlays?.length; j++) {
              if (overlays[j].frame === frame) {
                this.activeOverlay.push(j)
              } else if (overlays[j].frameEnd === frame) {
                this.activeOverlay = [];
              } else if (overlays[j].frame === 'end' && end) {
                addText(j);
              }
            }
            const { next } = anim;
            if (next && end) {
              this.playNext = true;
              animate(next[0].img_url, next[0].timeline, next);
            }
            if (end) {
              this.played = true;
            }
          }, this.t);
        };
        this.$refs.canvas.style.height = 'auto';
        animate(child ? child.img_url: series[this.cIndex].img_url, child ? child.timeline: series[this.cIndex].timeline, series[this.cIndex], child ? child.delay_scale: null);
      }
    }
  }

  const init = () => {
    script = document.createElement('script');
    script.type = "text/javascript";
    if (isHighDPI()) {
      script.src = "{{ $jsResource2x.RelPermalink | absURL }}?v="+ VERSION;  
    } else {
      script.src = "{{ $jsResource.RelPermalink | absURL }}?v="+ VERSION;
    }
    document.head.append(script);
    script.onload = () => {
      let series = [
        {
          id: "demo1",
          img_url: `demos/unobtrusive/${packedImage()}`,
          timeline: timeline1,
          overlays: [
            {frame: 10, text: "Navigation panel", icon: '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-right"><line x1="7" y1="7" x2="17" y2="17"></line><polyline points="17 7 17 17 7 17"></polyline></svg>'},
          ],
          caption: "Navigation panel at the bottom-right corner",
          delay_scale: isHighDPI() ? 0.7: 0.9
        },
        {
          id: "demo2",
          type: "slide",
          children: [{
            img_url: `demos/journey/1/${packedImage()}`,
            timeline: timeline2,
            overlays: [
              {frame: 'end', text: "Where I need to go?", icon: leftArrow},
              {frame: 'end', text: "Where I was?", icon: leftArrow},
              {frame: 'end', text: "What I can do here?", icon: leftArrow}
            ],
            delay_scale: isHighDPI() ? 0.4: 1
          },{
            img_url: `demos/journey/2/${packedImage()}`,
            timeline: timeline3,
            delay_scale: isHighDPI() ? 0.6: 1
          },{
            img_url: `demos/journey/3/${packedImage()}`,
            timeline: timeline4,
            delay_scale: isHighDPI() ? 0.6: 1
          }],
          captions: [
            "Structure of the panel",
            "Displays the journey the user is currently on",
            "Documentation and tutorials could be mapped as destinations based on complexity"
          ],
          delay_scale: isHighDPI() ? 0.4: 1
        },
        {
          id: "demo3",
          img_url: `demos/context/${packedImage()}`,
          timeline: timeline5,
          overlays: [
            {frame: 11, frameEnd: isHighDPI() ? 20: 15, text: "On navigating to /Orders", icon: leftUpArrow},
          ],
          caption: "Displays actions relevant to the page",
          delay_scale: isHighDPI() ? 0.8: 1
        },
        {
          id: "demo4",
          img_url: `demos/undo/${packedImage()}`,
          timeline: timeline6,
          caption: "Allows undo of past actions",
          delay_scale: isHighDPI() ? 0.6: 1
        },
        {
          id: "demo5",
          img_url: `demos/humanize/cursor_1/${packedImage()}`,
          timeline: timeline7,
          caption: "Click on play to enable a cursor assistant",
          next: [
            {
              img_url: `demos/humanize/cursor_2/packed_image.png`,
              timeline: timeline8,
            }
          ],
          delay_scale: isHighDPI() ? 0.9: 1
        },
        {
          id: "demo6",
          img_url: `demos/humanize/ai/${packedImage()}`,
          timeline: timeline9,
          caption: "AI assistant",
          delay_scale: isHighDPI() ? 0.7: 1
        }
      ];
      Alpine.store('timeline').series = series;
    };
  };

  const animate = function(img, timeline, canvas, runCallback, t)
  {
    let i = 0;
    let run_time = 0;
    for (let j = 0; j < timeline.length - 1; ++j) {
      run_time += timeline[j].delay;
    }

    const delay_scale = t.delay_scale || 0.9;
    let run_counter = 0;
    let ctx = canvas.getContext('2d');
    ctx.clearRect(0, 0, canvas.width, canvas.height);
    const f = function(){
      const frame = i++ % timeline.length;
      const delay = timeline[frame].delay * delay_scale;
      const blits = timeline[frame].blit;
      for (j = 0; j < blits.length; ++j)
      {
        const blit = blits[j];
        const sx = blit[0];
        const sy = blit[1];
        const w = blit[2];
        const h = blit[3];
        const dx = blit[4];
        const dy = blit[5];
        ctx.drawImage(img, sx, sy, w, h, dx, dy, w, h);
      }
     
      run_counter += timeline[frame].delay;
      const end = run_counter > run_time;
      runCallback?.(run_counter, frame, end);
      if (end) {
        t.timer = null;
        return;
      }
      t.timer = window.setTimeout(f, delay);
    };
    if (t.timer) window.clearTimeout(t.timer);
    f();
  }

  function setAnimation(img_url, timeline, canvas, loadCallback, runCallback, t)
  {
    if (!timeline.length) {
      return;
    }
    if (t.timer) window.clearTimeout(t.timer);
    const img = new Image();
    img.onload = function()
    {
      if (canvas && canvas.getContext) {
        const blits = timeline[0].blit[0];
        canvas.width = blits[2];
        canvas.height = blits[3];
        animate(img, timeline, canvas, runCallback, t);
        loadCallback();
      }
    };
    img.src = `${img_url}?v=${VERSION}`;
  }

  document.addEventListener('alpine:init', init);
</script>