{{ $folderPath := .Get "folder" }}
{{ $imagePattern := path.Join "img" $folderPath "**.png" }}
{{ $images := resources.Match $imagePattern }}

<div class="image-gallery">
  {{ range $index, $image := $images }}
  {{ $resizedImage := $image.Process "resize 500x" }}
  <div x-show="shown" x-transition>
    <picture x-data="{ shown: false }" x-intersect="shown = true">
      <source srcset="{{ $image.Permalink }}" media="(min-width:600px)" />
      <img src="{{ $resizedImage.Permalink }}" loading="lazy" />
    </picture>
  </div>

  {{ end }}
</div>